<div class="inicio-card input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input #inputMaterial matInput placeholder="Buscar" class="form-control bg-dark text-white mb-2"
    (keyup)="applyFilter($event)" autofocus>

  <app-export-button [action]="export.bind(this)" color="success" [outline]="true"
    extraClass="me-2"></app-export-button>
</div>

<div class="container-scroll">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="usuarioId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.usuarioId }}</td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.usuario }}</td>
      </ng-container>

      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.correo }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="registro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Registro</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.registro | date: 'dd / MMMM / yyyy h:mm:ss a' }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Nacimiento</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.fechaNacimiento | date: 'dd / MMMM / yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
        <td mat-cell *matCellDef="let usuario">
          <!-- Dropdown solo si no es Admin ni el mismo usuario logeado -->
          <mat-form-field appearance="outline" class="tabla-select"
            *ngIf="usuario.usuarioId !== 1 && usuario.usuario !== usuarioLogeado">
            <mat-select [(value)]="usuario.rolId" (selectionChange)="cambiarRol(usuario, $event.value)"
              [panelClass]="'select-panel'">
              <mat-option *ngFor="let r of Roles" [value]="r.RolId">{{ r.Rol }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Texto plano si no puede cambiar -->
          <span *ngIf="usuario.usuarioId === 1 || usuario.usuario === usuarioLogeado">{{ usuario.rol }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="edad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edad</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.edad }}</td>
      </ng-container>

      <ng-container matColumnDef="diasCumple">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dias para cumpleaños</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.diasCumple }}</td>
      </ng-container>

      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
        <td mat-cell *matCellDef="let usuario">
          <mat-slide-toggle [checked]="usuario.activo"
            [disabled]="usuario.usuarioId === 1 || usuario.usuario === usuarioLogeado || !permiso.puedeEditar(Seccion.Usuarios)"
            (change)="cambiarEstado(usuario, $event.checked)">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <p *ngIf="dataSource.data.length === 0" class="text-center">No hay usuarios registrados.</p>
  </div>
</div>
<div class="paginator-container">
  <mat-paginator [pageSize]="pageSize"></mat-paginator>
</div>
