<div class="scroll-form row">
  <div class="col-md-6 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="edit ? actualiza() : add()">

          <!-- Nombre -->
          <div class="card-body">
            <input type="text" formControlName="Nombre" [(ngModel)]="serie.nombre" placeholder="Nombre:"
              class="form-control" autofocus
              [class.is-invalid]="form.get('Nombre')?.invalid && form.get('Nombre')?.touched"
              [class.is-valid]="form.get('Nombre')?.valid">

            <span *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched">
              El campo <span class="alerta">Nombre</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Otros Nombres -->
          <div class="card-body">
            <textarea type="text" formControlName="OtrosNombres" [(ngModel)]="serie.otrosNombres"
              placeholder="Otros Nombres:" class="form-control"
              [class.is-invalid]="form.get('OtrosNombres')?.invalid && form.get('OtrosNombres')?.touched"
              [class.is-valid]="form.get('OtrosNombres')?.valid" rows="2"></textarea>

            <span *ngIf="form.get('OtrosNombres')?.hasError('required') && form.get('OtrosNombres')?.touched">
              El campo <span class="alerta">Otros Nombres</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Creador -->
          <div class="card-body">
            <textarea type="text" formControlName="Creador" [(ngModel)]="serie.creador" placeholder="Creador:"
              class="form-control" [class.is-invalid]="form.get('Creador')?.invalid && form.get('Creador')?.touched"
              [class.is-valid]="form.get('Creador')?.valid" rows="2"></textarea>

            <span *ngIf="form.get('Creador')?.hasError('required') && form.get('Creador')?.touched">
              El campo <span class="alerta">Creador</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Genero -->
          <div class="card-body">
            <textarea type="text" formControlName="Genero" [(ngModel)]="serie.genero" placeholder="Genero:"
              class="form-control" [class.is-invalid]="form.get('Genero')?.invalid && form.get('Genero')?.touched"
              [class.is-valid]="form.get('Genero')?.valid" rows="2"></textarea>

            <span *ngIf="form.get('Genero')?.hasError('required') && form.get('Genero')?.touched">
              El campo <span class="alerta">Género</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Productora -->
          <div class="card-body">
            <textarea type="text" formControlName="Productora" [(ngModel)]="serie.productora" placeholder="Productora:"
              class="form-control"
              [class.is-invalid]="form.get('Productora')?.invalid && form.get('Productora')?.touched"
              [class.is-valid]="form.get('Productora')?.valid" rows="2"></textarea>

            <span *ngIf="form.get('Productora')?.hasError('required') && form.get('Productora')?.touched">
              El campo <span class="alerta">Productora</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Distribuidora -->
          <div class="card-body">
            <textarea type="text" formControlName="Distribuidora" [(ngModel)]="serie.distribuidora"
              placeholder="Distribuidora:" class="form-control"
              [class.is-invalid]="form.get('Distribuidora')?.invalid && form.get('Distribuidora')?.touched"
              [class.is-valid]="form.get('Distribuidora')?.valid" rows="2"></textarea>

            <span *ngIf="form.get('Distribuidora')?.hasError('required') && form.get('Distribuidora')?.touched">
              El campo <span class="alerta">Distribuidora</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Difusion -->
          <div class="card-body">
            <textarea type="text" formControlName="Difusion" [(ngModel)]="serie.difusion" placeholder="Difusion:"
              class="form-control" [class.is-invalid]="form.get('Difusion')?.invalid && form.get('Difusion')?.touched"
              [class.is-valid]="form.get('Difusion')?.valid" rows="2"></textarea>

            <span *ngIf="form.get('Difusion')?.hasError('required') && form.get('Difusion')?.touched">
              El campo <span class="alerta">Difusión</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Duracion -->
          <div class="card-body">
            <div class="input-group">
              <label for="Duracion" class="input-group-text">Duración</label>
              <input id="Duracion" type="time" formControlName="Duracion" [(ngModel)]="serie.duracion"
                placeholder="Duracion:" class="form-control"
                [class.is-invalid]="form.get('Duracion')?.invalid && form.get('Duracion')?.touched"
                [class.is-valid]="form.get('Duracion')?.valid">
            </div>
            <span *ngIf="form.get('Duracion')?.hasError('required') && form.get('Duracion')?.touched">
              El campo <span class="alerta">Duracion</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Portada -->
          <div class="card-body">
            <input type="url" formControlName="Portada" [(ngModel)]="serie.portada" placeholder="Portada:"
              class="form-control" [class.is-invalid]="form.get('Portada')?.invalid && form.get('Portada')?.touched"
              [class.is-valid]="form.get('Portada')?.valid">

            <span *ngIf="form.get('Portada')?.hasError('required') && form.get('Portada')?.touched">
              El campo <span class="alerta">Portada</span> es <strong>Requerido</strong>.
            </span>
          </div>

          <!-- Botones -->
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button [disabled]="form.invalid" type="submit" class="btn btn-success">Aceptar</button>
            <button type="button" class="btn btn-primary" (click)="regresar()">Regresar</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 inicio-card">
    <div class="card card-body text-center">
      <img [src]="serie.portada == '' ? '/assets/noImagen.png' : serie.portada" class="card-img-top"
        (error)="funciones.imagenNoValida($event)">
      <h3 style="text-transform: uppercase;">
        {{serie.serieId}} - {{serie.nombre == '' ? 'Nombre de la Caricatura' : serie.nombre}}
      </h3>
      <p>{{serie.otrosNombres == ''? 'Otros Nombres' : serie.otrosNombres}}</p>
      <p>{{serie.creador == ''? 'Creador' : serie.creador}}</p>
      <p>{{serie.genero == ''? 'Género' : serie.genero}}</p>
      <p>{{serie.productora == ''? 'Productora' : serie.productora}}</p>
      <p>{{serie.distribuidora == ''? 'Distribuidora' : serie.distribuidora}}</p>
      <p>{{serie.difusion == ''? 'Difusión' : serie.difusion}}</p>
      <p>{{serie.duracion == ''? 'Duración' : serie.duracion}}</p>
    </div>
  </div>
</div>