<div class="inicio-card input-group flex-nowrap">
  <div class="btn-toolbar">
    <a class="btn btn-primary" [routerLink]="['/repertorio/vistos/caricatura/agregar']">Agregar</a>

    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Estatus
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" routerLinkActive="active" type="button" [routerLink]="['/repertorio/vistos/caricatura']">Vistos</a>
        </li>
        <li>
          <a class="dropdown-item" routerLinkActive="active" type="button" [routerLink]="['/repertorio/noVistos/caricatura']">No Vistos</a>
        </li>
        <li>
          <a class="dropdown-item" routerLinkActive="active" type="button" [routerLink]="['/repertorio/proximos/caricatura']">Próximos</a>
        </li>
      </ul>
    </div>
  </div>

  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input *ngIf="!tabla" #inputMaterial matInput placeholder="Buscar" class="form-control bg-dark text-white mb-2"
    (keyup)="applyFilter($event)" autofocus>

  <input *ngIf="tabla" type="text" class="form-control bg-dark text-white mb-2" placeholder="Buscar"
    [(ngModel)]="search" autofocus>

  <a *ngIf="tabla" type="button" class="btn btn-light" (click)="cambiarVista()">
    <i class="fa-solid fa-list"></i>
  </a>
  <a *ngIf="!tabla" type="button" class="btn btn-light" (click)="cambiarVista()">
    <i class="fa-solid fa-table"></i>
  </a>

  <app-export-button [action]="export.bind(this)" color="success" [outline]="true"
    extraClass="me-2"></app-export-button>
</div>

<label *ngIf="tabla">Total: {{ (Temporadas | customGlobalFilter:search).length }} registros</label>

<div class="container-scroll row" [hidden]="!tabla">
  <div class="col-md-4" *ngFor="let dato of Temporadas | customGlobalFilter:search" style="margin-bottom: 1.5rem;">
    <div class="card text-center">
      <div class="card-header text-white d-flex justify-content-between align-items-center" [ngClass]="dato.estado"
        [ngStyle]="{ 'border': show ? 'none' : '' }">
        {{dato.nombre}}

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button class="btn btn-danger" (click)="borrar(dato.caricaturaSiguiendoId)">
            <i class="far fa-trash-alt"></i>
          </button>

          <button *ngIf="!show" class="btn btn-primary" (click)="show = !show">
            <i class="fa-solid fa-circle-info"></i>
          </button>
          <button *ngIf="show" class="btn btn-primary" (click)="show = !show">
            <i class="fa-solid fa-circle-xmark"></i>
          </button>
        </div>
      </div>
      <div class="box">
        <img [src]="dato.portada == '' ? '/assets/noImagen.png' : dato.portada " alt="Imagen de la Temporada"
          loading="lazy">
      </div>
      <div class="card-body" [ngClass]="dato.estado">
        <p style="font-weight: bold;">Fecha de Visualización</p>

        <p>
          {{dato.inicioVisualizacion | date: 'dd / MMMM / yyyy'}} -
          {{dato.finVisualizacion | date: 'dd / MMMM / yyyy'}}
        </p>
      </div>
      <div class="card-body" [ngClass]="dato.estado" *ngIf="show">
        <p style="font-weight: bold;">Caricatura</p>
        <p>{{dato.caricatura}}</p>
        <p style="font-weight: bold;">Capítulos</p>
        <p>{{dato.capitulos}}</p>
        <p style="font-weight: bold;">Primera Emisión</p>
        <p>{{dato.fechaInicio | date: 'dd / MMMM / yyyy'}}</p>
        <p style="font-weight: bold;">Ultima Emisión</p>
        <p>{{dato.fechaFin | date: 'dd / MMMM / yyyy'}}</p>
        <p style="font-weight: bold;">Calificación</p>
        <p>{{dato.calificacion}}</p>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a [routerLink]="['actualizar', dato.caricaturaSiguiendoId]" class="btn btn-info btn-block">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tabla -->
<div [hidden]="tabla">
  <div class="container-scroll">
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="caricaturaSiguiendoId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let dato">{{ dato.caricaturaSiguiendoId }}</td>
        </ng-container>

        <ng-container matColumnDef="caricatura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Caricatura</th>
          <td mat-cell *matCellDef="let dato">{{ dato.caricatura }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Temporada</th>
          <td mat-cell *matCellDef="let dato">{{ dato.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="capitulos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Capítulos</th>
          <td mat-cell *matCellDef="let dato">{{ dato.capitulos }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Primera Emisión</th>
          <td mat-cell *matCellDef="let dato">{{ dato.fechaInicio | date: 'dd / MMMM / yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaFin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Última Emisión</th>
          <td mat-cell *matCellDef="let dato">{{ dato.fechaFin | date: 'dd / MMMM / yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="semanas">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Semanas Emisión</th>
          <td mat-cell *matCellDef="let dato">{{ dato.semanas }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let dato">{{ dato.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="anios">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Años desde su emisión</th>
          <td mat-cell *matCellDef="let dato">{{ dato.anios }}</td>
        </ng-container>

        <ng-container matColumnDef="calificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Calificación</th>
          <td mat-cell *matCellDef="let dato">{{ dato.calificacion }}</td>
        </ng-container>

        <ng-container matColumnDef="inicioVisualizacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Inicio Visualización</th>
          <td mat-cell *matCellDef="let dato">{{ dato.inicioVisualizacion | date: 'dd / MMMM / yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="finVisualizacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fin Visualización</th>
          <td mat-cell *matCellDef="let dato">{{ dato.finVisualizacion | date: 'dd / MMMM / yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="estatusVisualizacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus Visualización</th>
          <td mat-cell *matCellDef="let dato">{{ dato.estatusVisualizacion }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let dato">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a [routerLink]="['actualizar', dato.caricaturaSiguiendoId]" class="btn btn-info btn-block"><i
                  class="fa-solid fa-pen-to-square"></i>
              </a>

              <button class="btn btn-danger" (click)="borrar(dato.caricaturaSiguiendoId)">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <p *ngIf="dataSource.data.length === 0" class="text-center">No hay temporadas registradas.</p>
    </div>
  </div>
  <div class="paginator-container">
    <mat-paginator [pageSize]="pageSize"></mat-paginator>
  </div>
</div>
